CVSROOT/checkoutlist svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/commitinfo svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/config svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/cvswrappers svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/editinfo svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/loginfo svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/modules svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/notify svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/rcsinfo svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/taginfo svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
CVSROOT/verifymsg svn_keywords=Author+Date+Id+Revision svn_eol_002dstyle=native
